{{> header title='404' }}

      <div class="page-error">
        {{> title text='404' }}
        <p>Не туда попали</p>
        {{> link class='page-error__link' href='chat-select.hbs' text='Назад к чатам' }}
      </div>

{{> footer }}
