{{> header title='Chat select' }}

    <div class="page-chat">

      <div class="page-chat__chat-list">
        <div class="chat-list">

          {{> chat-profile-link }}

          {{> chat-search }}

          {{> chat-list }}

        </div>
      </div>

      <div class="page-chat__chat">
        <div class="chat">
          <div class="chat-not-selected">Выберите чат, чтобы отправить сообщение</div>
        </div>
      </div>

    </div>

{{> footer }}
