{{> header title='index' }}

    {{> title text='index' }}
    <ul>
      <li>{{> link class='' href='404.hbs' text='404' }}</li>
      <li>{{> link class='' href='500.hbs' text='500' }}</li>
      <li>{{> link class='' href='avatar.hbs' text='avatar' }}</li>
      <li>{{> link class='' href='chat.hbs' text='chat' }}</li>
      <li>{{> link class='' href='chat-select.hbs' text='chat-select' }}</li>
      <li>{{> link class='' href='login.hbs' text='login' }}</li>
      <li>{{> link class='' href='password-change.hbs' text='password-change' }}</li>
      <li>{{> link class='' href='profile.hbs' text='profile' }}</li>
      <li>{{> link class='' href='profile-change-data.hbs' text='profile-change-data' }}</li>
      <li>{{> link class='' href='registration.hbs' text='registration' }}</li>
    </ul>

{{> footer }}
