{{> header title='Password change' }}

    <div class="page-profile">

      <div class="page-profile__button">
        {{> button-arrow left='true' right='' }}
      </div>

      <div class="page-profile__data">
        <form class="form-profile profile" action="">

          <div class="profile__avatar">
            {{> avatar }}
          </div>

          <ul class="profile__list">
            <li class="profile__label">
              {{> placeholder class='profile__input-placeholder' text='Старый пароль' }}
              {{> input class='profile__input' type='password' name='oldPassword' value='3424243' placeholder='' required='required' }}
            </li>
            <li class="profile__label">
              {{> placeholder class='profile__input-placeholder' text='Новый пароль' }}
              {{> input class='profile__input' type='password' name='newPassword' value='23423424243' placeholder='' required='required' }}
            </li>
            <li class="profile__label">
              {{> placeholder class='profile__input-placeholder' text='Повторите новый пароль' }}
              {{> input class='profile__input' type='password' name='confirmNewPassword' value='23423424243' placeholder='' required='required' }}
            </li>
          </ul>

          <ul class="profile__list">
            <li class="profile__label">
              {{> button class='profile__button button button-primary' type='submit' text='Сохранить' }}
            </li>
          </ul>

        </form>

      </div>

    </div>

{{> footer }}
