<div class="chat-list__chat-search">
  <form class="chat-search" action="">
    <label class="chat-search__label">
      {{> input class='chat-search__input' type='search' name='search' value='' placeholder='Поиск' required='' }}
      <span class="chat-search__placeholder">
        {{> svg-loupe }}
        <span>Поиск</span>
      </span>
    </label>
  </form>
</div>
