<div class="chat-list__chat-items">
  <div class="chat-items">

    {{> chat name='Андрей' date='10:49' message='Изображение' me='' count='1' }}
    {{> chat name='Киноклуб' date='10:49' message='стикер' me='true' count='' }}
    {{> chat name='тет-а-теты' date='Ср' message='И Human Interface Guidelines и Material Design рекомендуют...' me='' count='3' }}
    {{> chat name='1, 2, 3' date='1 Мая 2020' message='В 2008 году художник Jon Rafman начал собирать...' me='' count='' }}
    {{> chat name='Стас Рогозин' date='12 Апр 2020' message='Так увлёкся работой по курсу, что совсем забыл его анонсир...' me='' count='19' }}

  </div>
</div>
