<div id="action-user" class="pop-up pop-up-top pop-up-right">
  <button class="pop-up__button" type="button">
    {{> svg-around-plus }}
    <span>Добавить пользователя</span>
  </button>
  <button class="pop-up__button" type="button">
    {{> svg-around-x }}
    <span>Удалить пользователя</span>
  </button>
</div>
